link(href='style.styl' rel='stylesheet')

mixin list
  ul
    li Octupuses have three hearts
    li Ostriches eyes are bigger than their brains
    li There are approximately 6,900 distinct languages in existence today

mixin student(name, age)
  .student=name + " is " + age

mixin hashtags(...tags)
  each tag in tags
    .tag= tag

+list
.students
  +student('dan', 3)
  +student('freddy', 4)
  +student('sasha', 3.333)
  +student('maria', 4)

+hashtags("#cat", "#dog")
+list
+hashtags("#mouse", "#horse", "#elephant")
+list
