h4 The Art of the Cat Walk 
p.
    This week we are discussing the elusive cat walk. 
    We chased down the biggest names in cat fashion and asked them how they train for cat walking.
    Most suggested that it came naturally to them. 
   