#header
    border: crimson 2px solid    
    background-color: pink
    
.header
    text-align: center
    font-style: italic

.volume
    text-align: center    
    font-size: 12px
    margin-top: -10px
    margin-bottom: 10px

.column1
    width: 50%
    float: left
    display: inline-block
    padding: 20px
    box-sizing: border-box
    text-align: center

.column2
    width: 50%
    float: right
    display: inline-block
    font-family: sans-serif
    padding: 10px
    box-sizing: border-box

img
    width: 80%

.label
    font-size: 12px
    font-family: sans-serif