div
  position: fixed
  top: 0px

#indigo
  height: 100px
  width: 200px
  left: 500px
  background-color: indigo
  z-index: 6
#red
  height: 100px
  width: 700px
  left: 0px
  background-color: red
  z-index: 1
#blue
  height: 100px
  width: 300px
  left: 400px
  background-color: blue
  z-index: 5
#orange
  height: 100px
  width: 600px
  left: 100px
  background-color: orange
  z-index: 2
#green
  height: 100px
  width: 400px
  left: 300px
  background-color: greenyellow
  z-index: 4
#violet
  height: 100px
  width: 100px
  left: 600px
  background-color: violet
  z-index: 7
#yellow
  height: 100px
  width: 500px
  left: 200px
  background-color: yellow
  z-index: 3
