link(href='//prototype.guide/class/exercises/pug/sidebarInclude/styles/style.styl' rel='stylesheet')

#sidebar
  ul
    li Home
    li Projects
    li Portfolio
    li Resume
    li Cat pics

#content
  h1 Welcome to my site
  p. 
    Jokes are my favorite thing. Here's a list of some of my all time top jokes. 
  ul
    li.question What's orange and sounds like a parrot?
    li.answer A carrot.
    li.question ADD A JOKE SETUP HERE
    li.answer ADD A PUNCHLINE HERE
