style.
  .card {
    font-family: 'Roboto', sans-serif;
    color: #333333;
  }
  .child {
    background-color: lightgrey;
  }
  .caption {
    padding: 10px;
  }
  img {
    width: 100%;
  }

.parent
  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Card caption text

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Card caption text

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Card caption text

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Card caption text

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Card caption text
  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Card caption text
