link(href='style.styl' rel='stylesheet')
  
.parent
  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Some kind of funny caption text

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Some kind of funny caption text

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Some kind of funny caption text

  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Some kind of funny caption text
  .child
    .card
      img(src='http://fillmurray.com/400/600' alt='Bill Murray')
      div.caption Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id interdum diam.
