.parent
  max-width: 880px
  margin: 0 auto
  display grid
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  .child
    background-color: lightgrey

.card
  font-family: 'Roboto', sans-serif
  color #333333
  .caption
    padding 10px
  img
    width 100%
