link(href='style.styl' rel='stylesheet')

.parent#par1
  .child
  .child
  .child
  .child
  .child
  .child
  .child
  .child

.parent#par2
  .child
  .child
  .child
  .child
  .child
  .child
  .child
  .child

.parent#par3
  .child
