@require '../lib/akvariables.styl'

body
  margin: 0

.expandable
  transition: height 0.3s ease, width 0.3s ease      
  height: 35px
  width: 200px
  background-color: #4C9AFF
  color: white
  cursor: pointer
  overflow:hidden
  .content
    display: inline-block
    padding: 5px 10px
    img
      width: 500px
