link(rel="stylesheet" href="styles/prism.css")
script(src="prism.js")
meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0')
link(href='styles/style.styl' rel='stylesheet')

#content
  include api/models.pug
  include api/allAPIRoutes.pug
  include api/posts.pug
  include api/tags.pug
  include api/comments.pug
  include api/postTags.pug
