link(rel="stylesheet" href="/class/styles/prism.css")
script(src="/class/prism.js")
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
link(href='/sociApi/styles/style.styl' rel='stylesheet')
link(href='/sociApi/sidebar/sidebar.styl' rel='stylesheet')

//include sidebar/sidebar.pug
  
#content
  block content

script(type='text/javascript' src='/class/prototype.js')
