link(href='sidebar/sidebar.styl' rel='stylesheet')


.lesson-holder
  h3 Endpoints
  .lesson
    a(href='api/posts')
      .course Posts
      .description 0/5
  .lesson
    a(href='api/user')
      .course User
      .description 0/6
  .lesson
    a(href='api/tags')
      .course Tags
      .description 0/10
  .lesson
    a(href='api/comments')
      .course Comments
      .description 0/4
