body
  display: flex
  margin: 0
*
  box-sizing: border-box

#sidebar
  max-width: 280px
  min-width: 280px
  background-color: #ccc
  font-family: sans-serif
  ul
    list-style: none
    padding-left: 0
  li
    padding: 6px 24px
    cursor: pointer
    &:hover
      background-color: #ccc - #111
  
#content
  padding: 24px

