link(href='style.styl' rel='stylesheet')
.navbar
  .navbuttons
    .button Wassup
    .button About
    .button Blog
    .button Gallery
    .button Contact
.title Going Corgi Crazy
.image
  img(src="corgi.jpg")
.info
  .infoBit
    | Date: 14/2/17
    br
    | Author: Harry Pupper
  .infoBit
    | Likes: 100,000,000
    br
    | Fun fact: According to Welsh Legend fairies use corgis as steeds
