link(href='style.styl' rel='stylesheet')

.navbar
  .left ^_^ The Smiley Company
  .right About | Blog | Contact

.content
  #first
    | Be not afraid of greatness: some are born great, some achieve greatness, and some have greatness thrust upon them.
  #second
    | To thine own self be true, and it must follow, as the night the day, thou canst not then be false to any man.
  #third
    .center
      .item
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Love_Heart_SVG.svg/847px-Love_Heart_SVG.svg.png")
    | The course of true love never did run smooth.

.footer
  .link Contact | Content Map | About
