link(href='style.styl' rel='stylesheet')

input#name(type="text" placeholder="What is your name?")
input#age(type="number" placeholder="How old are you?")
button#submit.disabled Submit

script(src='script.js' type='text/javascript')
