link(href='style.styl' rel='stylesheet')
#content
  .memoir.
    Today I ate a carrot
  .memoir.
    Today I ate a banana
  .memoir.
    Today I had an existential crisis realizing that the most interesting parts of my day were me eating various plants. God help me I need friends. I'm so lonely.
  .memoir.
    Today I ate peas
