link(href='style.styl' rel='stylesheet')
#navigation
  .left
    include navitem.pug
    include navitem.pug
    include navitem.pug
    include navitem.pug
  .right
    include navitem.pug
    include navitem.pug

.columns
  .col1 I'm a side bar
  .col2 I have some content
  .col3 I'm another bar

.notification I'm a notification
