body
  margin: 0

#navigation
  height: 5vh
  background-color: #205082
  color: white
  width: 100%
  position: relative
  .left
    position: absolute
    left: 10px
  .right
    position: absolute
    right: 0px

.item
  display: inline-block
  padding: 10px

.columns
  width: 100vw
  font-size: 0
  height: 90vh

.col1, .col2, .col3
  padding-top: 5vh
  font-size: 14px
  height: 100%
  display: inline-block

.col1
  background-color: lightgrey
  width: 20%

.col2
  width: 60%

.col3
  background-color: whitesmoke
  width: 20%

.notification
  border: 3px solid black
  position: absolute
  bottom: 100px
  right: 10px
  height: 100px
  width: 300px
  z-index: 100
  background-color: lightblue
  padding-top: 30px
