link(href='styles/style.styl' rel='stylesheet')
include lib/ak.pug

.expandable
  .content
    p clicky here 
    img(src="https://media.giphy.com/media/118lTJFyUJYyze/giphy.gif")
    p
    p In Holland's embassy in Moscow, Russia, the staff noticed that the two Siamese cats kept meowing and clawing at 
      |   the walls of the building. Their owners finally investigated, thinking they would find mice. Instead, they
      |   discovered microphones hidden by Russian spies. The cats heard the microphones when they turned on.



script(type='text/javascript' src='lib/utils.js')
script(type='text/javascript' src='prototype.js')
