link(href='style.styl' rel='stylesheet')
#top I'm the top of the page, here are your user details and settings
#center
  #content
    #title Googel
    #search
      input(type="text" placeholder="Search something here")
    #button I'm a button
#bottom I'm the bottom of the page, I have some links to Facebook, Twitter and Instagram
