link(href='style.styl' rel='stylesheet')
#header 
  #logo
  #login log in


#content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content

