link(href='style.styl' rel='stylesheet')
h1 Catlassian Magazine
h3 January, 2017

#content
  #article
    p.
      Did you know that eighty percent of Atlassian employees love cats? That's why this quarter we're firing one fifth of the Atlassian work force. We predict once 100% of employees love cats, morale will skyrocket. That's stunning, as is our favorite kitten Greg. 
    img(src='greg.jpg' width='100%')
    p.
      What a cutie. I bet he's just a ball of love and energy. Not that I would actually know. Greg's a stock image cat, I don't even know if his name is Greg. My entire life is a lie.

  #ourReaders
    h3 Our Readers
