.user
  .name Frank Ocean
  .age 29 years old
  .bio.
    Frank Ocean is an American singer, songwriter, and rapper. 
    Known for his idiosyncratic musical style, Ocean first embarked on a career as a ghostwriter.
    He released his breakout mixtape, Nostalgia, Ultra, to critical acclaim in 2011. 
    It generated his first charting single "Novacane". 
    In 2012, Ocean finished in second place in BBC's Sound of 2012 poll.
