body
  background-color: black

.parent
  background-color: lightblue
  display: flex
  justify-content: space-between
  align-items: center
  height: 400px

.child
  background-color: orange
  flex: 0 0 150px
  height: 150px

#child2
  align-self: flex-start

#child3
  align-self: flex-end
