
#sidebar
  #sidebar-left
    a(href="/class" style="z-index:996")
      .logo
  #sidebar-right
    include ../lesson_links.pug
  #collapser
  #collapser-button-holder
    #collapser-button
      .collapse-icon
script(type='text/javascript' src='../../sidebar/sidebar.js')