link(href='http://proto.office.atlassian.com/prototypingCourse/exercises/pug/cardMixins/style.styl' rel='stylesheet')
mixin card(title)
  li.card
    h3.title 
      !=title 
    p
      block

h1 Look at all my cards!
#cards
  +card('King of Hearts') I'm a king of hearts! Neat!
  +card('Queen of Spades') This is my favorite card
  +card('Ten of Diamonds') 
  +card('Seven of Clubs')
  +card('Shiny Pikachu') This doesn't belong in this deck
  +card('Jack of Clubs')
    
