.card
  width: 240px
  list-style: none
  height: 370px
  background-color: #222
  border-radius: 10px
  font-family: sans-serif
  float: left
  margin: 20px
  color: #fff
  h3
    text-align: center
  p
    padding: 20px
  

