link(rel='stylesheet' href='style.styl')
.title This is my page title
#content
    .title This is my content title
    .subtitle I'm a subtitle but look similar to the title
    .text Baby echidnas and baby platypuses are called puggles.