$swoop = cubic-bezier(.15,1,.3,1)
@require '../../../styles/akcolor.styl'

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  overflow-y: hidden
  background-color: $ak-color-NA100
  color: white

#display
  height: 85vh
  position: relative
  top: 5vh
  transition: top 2s $swoop

.level
  margin-bottom: 10vh

.columns
  display: flex
  height: 100%
  .col:first-child
    background-color: transparent
    padding: 10px 30px 50px 30px
    width: 400px
    position: relative
  .col
    width: 100%
    min-width: 400px
    margin: 20px

.text
  margin-bottom: 5px
  margin-top: 20px

.boxes, .inputs, .words, .list
  width: 400px
  margin: auto
.box
  margin-top: 10px
  height: 100px
  border: 4px solid white

input
  width: 100%
  font-family: inherit
  font-size: inherit
  height: 30px

button
  margin-top: 5px
  width: 100px
  height: 25px
  font-family: inherit
  position: absolute
  right: 30px
  font-size: 14px
  border-radius: 4px
  border: none
  color: white
  display: block
  background-color: $ak-color-NA40
  cursor: pointer
  &:hover
    background-color: $ak-color-NA200

#upArrowContainer, #downArrowContainer
  height: 25px
  width: 25px
  position: fixed
  left: 50vw
  z-index: 100

#upArrowContainer
  top: 2vh
  #up
    border: 13px solid transparent
    border-bottom: 13px solid #b0b0b0
    cursor: pointer
    &:active, &:hover
      border-bottom: 13px solid $ak-color-Y500
    &.disabled
      border-bottom: 13px solid whitesmoke

#downArrowContainer
  bottom: 2vh
  #down
    border: 13px solid transparent
    border-top: 13px solid #b0b0b0
    cursor: pointer
    &:active, &:hover
      border-top: 13px solid $ak-color-Y500
    &.disabled
      border-top: 13px solid whitesmoke

#level7 p
  font-size: 12px
