#taylor, #jason, #sting
  width: 50px
  margin-left: 20px

#taylor
  border: 2px solid lightblue
  border-radius: 50%

#jason
  box-shadow: 0 0 10px 0 lightblue

#sting
  border-radius: 0px 20px
  box-shadow: 0 0 10px 0 grey
