link(href='style.styl' rel='stylesheet')
#header 

#content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content

