mixin ak-proto-breadcrumbs
  .ak-proto-breadcrumbs-container
    if block
      block
    
mixin ak-proto-breadcrumb(icon)
  .ak-proto-breadcrumb&attributes(attributes)
    if icon
      img.ak-proto-breadcrumb-icon(src=icon)
    .ak-proto-breadcrumb-name
      if block
        block
