mixin ak-proto-spinner
  .ak-proto-spinner-container&attributes(attributes)
    .ak-proto-spinner-wrap
      .ak-proto-spinner-spinner
        svg(viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg")
          circle.ak-proto-spinner-path-animate(fill="none" stroke-width="1.5" stroke-linecap="round" cx="15" cy="15")
