/* * * * * * * * */
/*  BREADCRUMBS  */
/* * * * * * * * */
.ak-proto-breadcrumbs-container
  display: flex
  .ak-proto-breadcrumb
    display: flex
    align-items: center
    height: 26px
    font-size: 14px
    color: $ak-color-N200
    font-weight: 400
    cursor: pointer
    user-select: none
    &:hover
      color: $ak-color-B400
    &:after
      display: inline-block
      width: 20px
      content: "/"
      color: $ak-color-N300
      text-align: center
    &:last-child
      &:after
        display: none
    div
      display: inline-block
    img
      width: 16px
      height: 16px
      margin-right: 5px

/* * * * * * */
/*  MODALS   */
/* * * * * * */
.ak-proto-modal-container
  padding-top: 70px
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  pointer-events: none
  z-index: 1000
  .ak-proto-modal-blanket
    background-color: $ak-color-N100A
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0
    opacity: 0
    transition: opacity 0.2s $ak-ease
  .ak-proto-modal
    background-color: #fff
    border-radius: 3px
    padding: 24px
    position: relative
    margin: 0 auto
    width: 600px
    top: 20px
    opacity: 0
    transition: opacity 0.15s $ak-ease, top 0.3s $ak-ease
  &.active
    pointer-events: all
    .ak-proto-modal-blanket
      opacity: 1
    .ak-proto-modal
      opacity: 1
      top: 0
  &.small
    .ak-proto-modal
      width: 400px
  &.medium
    .ak-proto-modal
      width: 600px
  &.large
    .ak-proto-modal
      width: 800px
  &.x-large
    .ak-proto-modal
      width: 968px

/* * * * * * * * */
/*    SPINNERS   */
/* * * * * * * * */
.ak-proto-spinner-wrap
  display: flex
  animation: ak-proto-spinner-load 0.53s ease-in-out
  animation-fill-mode: forwards
  width: 50px
  height: 50px
  .ak-proto-spinner-spinner
    display: block
    opacity: 0
    transition: opacity 0.2s ease-in-out 0.45s
    svg
      width: 50px
      height: 50px
      .ak-proto-spinner-path-animate
        r: 7px
        stroke: #0052CC /* the standard colour is currently set to ak-color-B400 */
        stroke-dasharray: 60
        stroke-dashoffset: 60
        transform-origin: center
        animation: ak-proto-spinner-spin 0.86s infinite
        animation-timing-function: cubic-bezier(0.4, 0.15, .6, 0.85)
        transition: stroke-dashoffset 0.8s ease-in-out, opacity 0.2s ease-in-out 0.45s
        opacity: 0

.ak-proto-spinner-container.active
  .ak-proto-spinner-wrap
    animation: ak-proto-spinner-load-2 1s ease-in-out
    animation-fill-mode: forwards
    .ak-proto-spinner-spinner
      opacity: 1
      transition: none
      .ak-proto-spinner-path-animate
        stroke-dashoffset: 50
        opacity: 1
        transition: stroke-dashoffset 0.8s ease-in-out, opacity 0.2s ease-in-out

// Custom size settings
.ak-proto-spinner-container.small
  .ak-proto-spinner-wrap, svg
    width: 40px
    height: 40px
  .ak-proto-spinner-path-animate
    r: 6px

.ak-proto-spinner-container.large
  .ak-proto-spinner-wrap, svg
    width: 60px
    height: 60px
  .ak-proto-spinner-path-animate
    r: 8px

// Custom colour settings
.ak-proto-spinner-container.light
  svg .ak-proto-spinner-path-animate
    stroke: $ak-color-B50

.ak-proto-spinner-container.dark
  svg .ak-proto-spinner-path-animate
    stroke: $ak-color-N900

@keyframes ak-proto-spinner-load
  0% {transform: rotate(230deg)}
  100% {transform: rotate(510deg)}


@keyframes ak-proto-spinner-load-2
  0% {transform: rotate(50deg)}
  100% {transform: rotate(230deg)}

@keyframes ak-proto-spinner-spin
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
