link(href='style.styl' rel='stylesheet')

mixin user(name, img, age, bio)
  .user
    .name= name
    img(src=img)
    .age= age + " years old"
    .bio= bio

h1 Catlassian Magazine
h3 January, 2017

#content
  #article
    p.
      Did you know that eighty percent of Atlassian employees love cats? That's why this quarter we're firing one fifth of the Atlassian work force. We predict once 100% of employees love cats, morale will skyrocket. That's stunning, as is our favorite kitten Greg.
    img(src='greg.jpg' width='100%' style='max-width: 750px')
    p.
      What a cutie. I bet he's just a ball of love and energy. Not that I would actually know. Greg's a stock image cat, I don't even know if his name is Greg. My entire life is a lie.

  #ourReaders
    h3 Our Readers
    +user("Frank Ocean", "frank.jpg", "29", "Christopher Francis \"Frank\" Ocean, is an American singer, songwriter, and rapper. Known for his idiosyncratic musical style, Ocean first embarked on a career as a ghostwriter, and in 2010 he became a member of hip hop collective Odd Future.")
    +user("Taylor Swift", "taylor.jpg", "27", "Taylor Alison Swift is an American singer-songwriter. One of the most popular contemporary female recording artists, she is known for narrative songs about her personal life, which has received much media attention.")
    +user("Jason Mraz", "jason.jpg", "39", "Jason Thomas Mraz is an American singer-songwriter who first came to prominence in the San Diego coffee shop scene in 2000. In 2002, he released his debut studio album, Waiting for My Rocket to Come, which contained the hit single \"The Remedy\". ")
    +user("Beyoncé", "beyonce.jpg", "35", "Beyoncé Giselle Knowles-Carter is an American singer, songwriter and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child.")
    +user("Shakira", "shakira.jpg", "40", "Shakira Isabel Mebarak Ripoll is a Colombian singer, songwriter, dancer, and record producer. Born and raised in Barranquilla, she began performing in school.")
    +user("Sting", "sting.jpg", "65", "Gordon Matthew Thomas Sumner, CBE, better known by his stage name Sting, is an English musician, singer, songwriter, and actor.")
