link(href='style.styl' rel='stylesheet')
#header 
  #logo
  #login log in


#content
  .block 
    .miniblock Now the content is gettin' real
    .miniblock how bout this content?
    .miniblock This is gonna be a large one just to show the sizing of this and so we can see some wrapping action (that's a hint)
    .miniblock Neat!
    .miniblock What an interesting content this block has
    .miniblock jet fuel cant melt steel beams

  .block 
    .miniblock This 
    .miniblock ONe 
    .miniblock Has 
    .miniblock Tiny 
    .miniblock blocks 
    .miniblock Now the content is gettin' real
    .miniblock how bout this content?
    .miniblock Neat!
    .miniblock What an interesting content this block has
    .miniblock jet fuel cant melt steel beams
  .block 
    .miniblock jet fuel cant melt steel memes
    .miniblock jet fuel cant melt steel memes
    .miniblock jet fuel cant melt steel memes
    .miniblock jet fuel cant melt steel memes
    .miniblock jet fuel cant melt steel memes
    .miniblock jet fuel cant melt steel memes
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content
  .block This is some content

